main{
  text-align: center;
  font-family: Arial;
}

h3{
  color: gray;
}

h4{
  color: red;
}

#image{
  max-width: 100%;
  display: block;
  height: auto;
  margin: auto;
}

#img-caption{
  font-style: italic;
  margin: 0 auto 50px auto;
}

#tribute-info{

  max-width: 60%;
  margin: auto auto 50px auto;
  font-size: 140%;
}

#background-info{
  text-align:left;
}

#citation{
  font-size: 66%;
}

#tribute-info-uses{
  text-align:left;
  list-style:outside;
   display: flex;
  flex-wrap: wrap;
}


li{
  height: 100vh;
  flex-grow: 1;
}

.list-img{
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

#tribute-link{
  margin-top: 500px;
}

